<p>ID: {{ unicorn.id }} {{ addOne(unicorn.id) }}</p>
<p (click)="logName()">Name: {{ unicorn.name | magicalName }}</p>
<p [ngClass]="{junior: isJunior}">Age: {{ unicorn.birthyear | age }}</p>
<p>weight: {{ unicorn.weight }}</p>
<p>hobbies: {{ unicorn.hobbies }}</p>
<p>capacities: {{ unicorn.capacitiesLabels }}</p>
<p><img [src]="unicorn.photo"></p>

<button mat-fab color="warn" (click)="removeUnicorn()">
    <mat-icon>delete</mat-icon>
</button>

<button mat-fab color="primary" [routerLink]="['/unicorn', unicorn.id]">
    <mat-icon>visibility</mat-icon>
</button>

<button mat-fab [color]="isInCart?'accent':null" (click)="toggleToCart()">
    <mat-icon>favorite</mat-icon>
</button>
